- if (session.user)
  p
    span
     b UserName&nbsp;
    span= session.user.name
    span
     b  &nbspUserID&nbsp;
    span= session.user._id
  p
    form(method="POST", action="/session")
      input(type="hidden", name="_method", value="DELETE")
      input(type="submit", value="Log out")