extends ../layout
block content
  h1= user.name

  - if (session.user.)
    h1 Private View
  - else
    h1 Public View

  h2 Recent Articles:
  ul
  - recentArticles.forEach(function(article) {
    li
      a(href="/articles/" + encodeURIComponent(article._id))= article.title
  - });

  - if (session.user.is_admin = 'true')
    form(action="/users/" + encodeURIComponent(user.username), method="POST")
      input(name="_method", type="hidden", value="DELETE")
      input(type="submit", value="Delete")

    a(href="/users/") Back to Userlist 