extends ../layout
block content
  h1= user.name

  - if (session.user.name === requested)
    h1 Private View
      p= session.user.name
      p= requested

  - else
    h1 Public View

  h2 Recent workouts:
  ul
  - recentworkouts.forEach(function(workout) {
    li
      a(href="/workouts/" + encodeURIComponent(workout._id))= workout.title
  - });

  - if (session.user.is_admin === true)
    a(href="/users/") Goto Admin Page
