extends ../layout
block content
  h1= user.name

  - if (session.user.name === requested)
    h1 Private View
      p= session.user.name
      p= requested

  - else
    h1 Public View

  h2 Recent Articles:
  ul
  - recentArticles.forEach(function(article) {
    li
      a(href="/articles/" + encodeURIComponent(article._id))= article.title
  - });
