extends ../layout

block content
  h1 workouts

  p
    a(href="/workouts/new") Create new workout
  p
    a(href="/users") List Users
  p
    a(href="/workouts") List workouts


  include list

  - if (page > 0) {
    a(href="?page=" + (page - 1)) Previous
    &nbsp;
  - }

  - if (! lastPage) {
    a(href="?page=" + (page + 1)) Next
  - }