extends ../layout

block content
  h1 New workout
  button#addExercise(type="button") Add Exercise

  form#newworkout(method="POST", action="/workouts")
        ul
          li
            label(for="title", value="UserID")<br />
            input#title(name="User_ID", value=session.user._id)
          li
            label(for="datepicker", value="Date") Date<br />
            input.datepicker(name="Date")
        ul#exercises

        button(type="submit", value="Save") Save
